[package]
name = "fluentbase-svm"
version.workspace = true
authors.workspace = true
repository.workspace = true
edition.workspace = true
readme.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
fluentbase-sdk = { workspace = true, default-features = false }
fluentbase-types = { workspace = true, default-features = false }
fluentbase-universal-token = { workspace = true, default-features = false }

num-traits = { workspace = true, default-features = false }
byteorder = { workspace = true, default-features = false }
hashbrown = { workspace = true, default-features = false }

solana_rbpf = { workspace = true, default-features = false }

solana-pubkey = { workspace = true, default-features = false, features = ["serde", "bytemuck"] }
solana-instruction = { workspace = true, default-features = false, features = ["serde", "bincode"] }
solana-account-info = { workspace = true, default-features = false, features = ["bincode"] }
solana-clock = { workspace = true, default-features = false, features = ["sysvar", "serde"] }
solana-epoch-schedule = { workspace = true, default-features = false, features = ["sysvar", "serde"] }
solana-sanitize = { workspace = true, default-features = false, features = [] }
solana-short-vec = { workspace = true, default-features = false, features = [] }
solana-sha256-hasher = { workspace = true, default-features = false, features = [] }
solana-program-error = { workspace = true, default-features = false, features = ["serde"] }
solana-transaction-error = { workspace = true, default-features = false, features = ["serde"] }
solana-sysvar-id = { workspace = true, default-features = false, features = [] }
solana-serialize-utils = { workspace = true, default-features = false, features = [] }
solana-hash = { workspace = true, default-features = false, features = ["serde", "bytemuck"] }
solana-decode-error = { workspace = true, default-features = false, features = [] }
solana-program-entrypoint = { workspace = true, default-features = false, features = [] }
solana-feature-set = { workspace = true, default-features = false, features = [] }
solana-program-memory = { workspace = true, default-features = false, features = [] }
static_assertions = { workspace = true, default-features = false, features = [] }
solana-stable-layout = { workspace = true, default-features = false, features = [] }
solana-bincode = { workspace = true, default-features = false, features = [] }
#solana-precompile-error = { workspace = true, default-features = false, features = [] }
solana-poseidon = { workspace = true, default-features = false, features = [] }
solana-curve25519 = { workspace = true, default-features = false, features = [] }
solana-bn254 = { workspace = true, default-features = false, features = [] }
solana-program-option = { workspace = true, default-features = false, features = [] }
solana-program-pack = { workspace = true, default-features = false, features = [] }

paste = { workspace = true }
serde_bytes = { workspace = true, default-features = false, features = ["alloc"] }
blake3 = { workspace = true, default-features = false, features = [] }
bitflags = { workspace = true, default-features = false, features = ["serde"] }
spin = { workspace = true, default-features = false, features = ["spin_mutex", "rwlock"] }
bytemuck = { workspace = true }
bytemuck_derive = { workspace = true }
num_enum = { workspace = true }
arrayref = { workspace = true }

num-derive = { workspace = true }
serde = { workspace = true, default-features = false }
serde_json = { workspace = true, default-features = false, features = ["alloc"] }
serde_with = { workspace = true, default-features = false, features = ["alloc"] }
bincode = { workspace = true }
lazy_static = { workspace = true, default-features = false }
itertools = { workspace = true, default-features = false, features = ["use_alloc"] }
#libsecp256k1 = { workspace = true, features = ["static-context"] }
#num-bigint = { workspace = true, default-features = false }
#ark-bn254 = { workspace = true }

[dev-dependencies]
rand = { version = "0.9.0", default-features = false, features = ["alloc", "thread_rng"] }
memoffset = { workspace = true, default-features = false }
fluentbase-sdk-testing = { workspace = true }
serde_derive = { workspace = true }
array-bytes = { workspace = true }
proptest = { workspace = true }

[features]
default = [
    "std",
]
std = [
    "fluentbase-sdk/std",
    "itertools/use_std",
    "solana_rbpf/std",
]
debug-print = [
    "fluentbase-sdk/debug-print",
]
do-not-validate-elf-on-deploy = []
use-extended-debug-log = []
