
/target/
**/*.rs.bk
crates/rwasm/Cargo.lock
crates/rwasm/spec/target

**/fuzz/corpus/
**/fuzz/target/
**/fuzz/artifacts/

/.idea
.vscode
.DS_Store
libzktrie.so
.wake

/tmp/*
!/tmp/.gitkeep

# exclude all wat, wasm and genesis files
*.wat
contracts/**/lib.wasm
examples/**/lib.wasm

revm/e2e/Cargo.lock
revm/e2e/tests

genesis-devnet.json
node_modules
**/target/**
