[workspace]
members = [
    "bin",
    "crates/*",
    "revm/crates/*",
    "crates/genesis/bin",
    "examples/*",
    "e2e",
]
exclude = [
    "crates/evm",
    "crates/evm/evm-rwasm",
    "crates/evm/evm-snippets",
    "revm/e2e",
    "examples/node_modules",
]
resolver = "2"

[workspace.package]
authors = [
    "Dmitry Savonin <dmitry@fluentlabs.xyz>",
]
repository = "https://github.com/fluentlabs-xyz/fuentbase"
edition = "2021"
readme = "README.md"
license = "MIT"
keywords = ["wasm", "webassembly", "interpreter", "vm"]
categories = ["wasm", "no-std", "virtualization"]

[workspace.dependencies]
fluentbase-types = { path = "./crates/types", default-features = false }
fluentbase-codec = { path = "./crates/codec", default-features = false }
fluentbase-codec-derive = { path = "./crates/codec-derive", default-features = false }
fluentbase-sdk = { path = "./crates/sdk", default-features = false }
fluentbase-sdk-derive = { path = "./crates/sdk-derive", default-features = false }
fluentbase-core = { path = "./crates/core", default-features = false }
fluentbase-contracts = { path = "crates/contracts", default-features = false }
fluentbase-core-macros = { path = "./crates/core-macros", default-features = false }
fluentbase-runtime = { path = "./crates/runtime", default-features = false }
fluentbase-poseidon = { path = "./crates/poseidon", default-features = false }
fluentbase-zktrie = { path = "./crates/zktrie", default-features = false }
fluentbase-genesis = { path = "./crates/genesis", default-features = false }

# fuel
#fuel-tx = { git = "https://github.com/fluentlabs-xyz/fuel-vm", branch = "develop", default-features = false, features = ["alloc"] }
#fuel-vm = { git = "https://github.com/fluentlabs-xyz/fuel-vm", branch = "develop", default-features = false, features = ["alloc"] }
#fuel-core = { git = "https://github.com/fluentlabs-xyz/fuel-core", branch = "devel" }
#fuel-core-types = { git = "https://github.com/fluentlabs-xyz/fuel-core", branch = "devel", default-features = false, features = ["serde", "alloc"] }
#fuel-core-executor = { git = "https://github.com/fluentlabs-xyz/fuel-core", branch = "devel", default-features = false, features = ["alloc"] }
#fuel-core-storage = { git = "https://github.com/fluentlabs-xyz/fuel-core", branch = "devel", default-features = false, features = ["alloc"] }
fuel-tx = { path = "../../fluentlabs-xyz/fuel-vm/fuel-tx", default-features = false, features = ["alloc"] }
fuel-vm = { path = "../../fluentlabs-xyz/fuel-vm/fuel-vm", default-features = false, features = ["alloc"] }
fuel-core = { path = "../fuel-core/crates/fuel-core" }
fuel-core-types = { path = "../fuel-core/crates/types", default-features = false, features = ["serde", "alloc"] }
fuel-core-executor = { path = "../fuel-core/crates/services/executor", default-features = false, features = ["alloc"] }
fuel-core-storage = { path = "../fuel-core/crates/storage", default-features = false, features = ["alloc"] }

rwasm = { git = "https://github.com/fluentlabs-xyz/rwasm", branch = "devel", default-features = false }
#rwasm = { path = "../rwasm/rwasm", default-features = false }
halo2curves = { git = "https://github.com/privacy-scaling-explorations/halo2curves", tag = "v0.6.1", default-features = false }
byteorder = { version = "1.5.0", default-features = false }
alloy-primitives = { version = "0.7", default-features = false, features = ["rlp"] }
alloy-rlp = { version = "0.3", default-features = false, features = ["derive"] }
alloy-genesis = { version = "0.1", default-features = false }
alloy-sol-types = { version = "0.7", default-features = false }
hashbrown = { version = "0.14" }
serde = { version = "1.0.203", default-features = false, features = ["derive"] }
postcard = { version = "1.0", default-features = false }
casey = { version = "0.4" }
paste = { version = "1.0", default-features = false }
revm-interpreter = { path = "revm/crates/interpreter", default-features = false, features = ["rwasm"] }
revm-primitives = { path = "revm/crates/primitives", default-features = false, features = ["rwasm"] }
revm-precompile = { path = "revm/crates/precompile", default-features = false, features = ["rwasm"] }
revm = { package = "revm-fluent", path = "revm/crates/revm_fluent", default-features = false, features = [
    "hashbrown",
    "blst",
    "rwasm",
    #    "secp256k1",
    #    "debug-print",
] }
zeth-primitives = { git = "https://github.com/fluentlabs-xyz/zeth-rwasm.git", branch = "rwasm", default-features = false }
#revm-interpreter = { package = "revm-interpreter-fluent", path = "../revm-rwasm/crates/interpreter_fluent", default-features = false, features = ["rwasm"] }
#revm-primitives = { path = "../revm-rwasm/crates/primitives", default-features = false, features = ["rwasm"] }
#revm-precompile = { path = "../revm-rwasm/crates/precompile", default-features = false, features = ["rwasm"] }
#revm = { package = "revm-fluent", path = "../revm-rwasm/crates/revm_fluent", default-features = false, features = [
#    "hashbrown",
#    "blst",
#    "rwasm",
#    #    "secp256k1",
#    #    "debug-print",
#] }
bytes = { version = "1.5" }
eth_trie = { version = "0.4", default-features = false }
hex = { version = "0.4.3", default-features = false, features = ["alloc"] }
hex-literal = { version = "0.4.1" }
strum = { version = "0.26" }
strum_macros = { version = "0.26" }
lazy_static = { version = "1.4.0", default-features = false, features = ["spin_no_std"] }
regex = { version = "1.10" }
#borsh = { version = "1.5.1", default-features = false, features = ["bytes", "derive", "hashbrown"] }
#borsh-derive = { version = "1.5.1" }
anyhow = { version = "1.0.86", default-features = false }
syn = "2.0"
clap = { version = "4.5", features = ["derive"] }
phantom-type = { version = "0.5.0", default-features = false }

[profile.bench]
lto = "fat"
codegen-units = 1

[profile.release]
panic = "abort"
lto = true
opt-level = 3
strip = false
debug = false
debug-assertions = false
rpath = false
codegen-units = 1

#[profile.release]
#opt-level = 1
#debug = false
#debug-assertions = false
#overflow-checks = false
#lto = true
#panic = "abort"
#incremental = false
#codegen-units = 1
#rpath = false
#strip = true
