[package]
name = "fluentbase-examples-storage"
version = "0.1.0"
authors.workspace = true
repository.workspace = true
edition.workspace = true
readme.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
fluentbase-sdk = { workspace = true }
alloy-sol-types = { version = "1.3.0", default-features = false, features = ["json"] }
hex-literal = "0.4.1"

[dev-dependencies]
serial_test = "3.0.0"
fluentbase-testing = { workspace = true }

[lib]
crate-type = ["cdylib"]
path = "lib.rs"

[features]
default = ["std"]
std = ["fluentbase-sdk/std"]
