[package]
name = "fluentbase-runtime"
version.workspace = true
authors.workspace = true
repository.workspace = true
edition.workspace = true
readme.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
# fluentbase
fluentbase-types = { workspace = true }
rwasm = { workspace = true }

# wasmtime
#wasmtime = { version = "34.0.1", package = "wasmtime-rwasm", optional = true, features = ["disable-fpu", "cache"] }
wasmtime = { git = "https://github.com/fluentlabs-xyz/wasmtime", branch = "devel", features = ["cache"] }
anyhow = { version = "1.0.98", default-features = false }
smallvec = { version = "1.15.1" }

# misc
k256 = { version = "0.13.1", default-features = false, features = ["ecdsa"] }
p256 = { version = "0.13", default-features = false, features = ["ecdsa"] }
# don't use patched tiny-keccak from workspace
tiny-keccak = { version = "2.0.2", features = ["keccak"] }
blake3 = { workspace = true, default-features = false }
sha2 = { workspace = true, default-features = false }
solana-poseidon = { workspace = true }
num = "0.4.3"
sp1-curves = "5.2.1"
fs2 = { version = "0.4.3", optional = true }
bytemuck = { workspace = true }
schnellru = { workspace = true }
amcl = { package = "snowbridge-amcl", version = "1.0.2", default-features = false, features = [
    "bls381",
] }

[dev-dependencies]
sha2 = { workspace = true, default-features = false }
rand = "0.9.2"

[features]
default = ["std"]
std = [
    "rwasm/std",
    "fluentbase-types/std",
]
rwasm = []
debug-print = [
    #    "rwasm/debug-print",
]
wasmtime = [
    "rwasm/wasmtime",
    "rwasm/cache-compiled-artifacts",
]
inter-process-lock = [
    "dep:fs2",
]
fluent-testnet = [
    "fluentbase-types/fluent-testnet"
]
