[package]
name = "fluentbase-runtime"
version.workspace = true
authors.workspace = true
repository.workspace = true
edition.workspace = true
readme.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
# fluentbase
fluentbase-types = { workspace = true }
rwasm = { workspace = true }

# misc
k256 = { version = "0.13.1", default-features = false, features = ["ecdsa"] }
p256 = { version = "0.13", default-features = false, features = ["ecdsa"] }
# don't use patched tiny-keccak from workspace
tiny-keccak = { version = "2.0.2", features = ["keccak"] }
blake3 = { workspace = true, default-features = false }
sha2 = { workspace = true, default-features = false }
#solana-poseidon = { workspace = true }
num = "0.4.3"
sp1-curves = { workspace = true }
bytemuck = { workspace = true }
schnellru = { workspace = true }
amcl = { package = "snowbridge-amcl", version = "1.0.2", default-features = false, features = [
    "bls381",
] }

[dev-dependencies]
sha2 = { workspace = true, default-features = false }
rand = "0.9.2"

[features]
default = ["std"]
std = [
    "rwasm/std",
    "fluentbase-types/std",
]
rwasm = []
debug-print = [
    # "rwasm/debug-print",
]
wasmtime = [
    "rwasm/wasmtime",
    # "rwasm/cache-compiled-artifacts",
]
