[package]
name = "fluentbase-runtime"
version.workspace = true
authors.workspace = true
repository.workspace = true
edition.workspace = true
readme.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
# fluentbase
fluentbase-types = { workspace = true }

rwasm = { workspace = true, features = ["cache-compiled-artifacts"] }

# misc
k256 = { version = "0.13.1", default-features = false, features = ["ecdsa"] }
secp256k1 = { version = ">=0.28, <=0.29", default-features = false, features = [
    "alloc",
    "recovery",
    "rand",
    "global-context",
] }
hashbrown = { workspace = true }
hex = { version = "0.4.3", optional = true }
tiny-keccak = { version = "2.0.2", features = ["keccak"] }
blake3 = { workspace = true, default-features = false }
sha2 = { workspace = true, default-features = false }
solana-poseidon = { workspace = true }
num = "0.4.3"
sp1-curves = { version = "5.1.0" }
sp1-primitives = { version = "5.1.0" }
ark-ff = { workspace = true }
ark-ec = { workspace = true }
ark-serialize = { workspace = true }
ark-bn254 = { workspace = true }
curve25519-dalek = { workspace = true }
num-bigint = { workspace = true }
num-traits = { workspace = true }
paste = { workspace = true }
fs2 = "0.4.3"

[dev-dependencies]
sha2 = { workspace = true, default-features = false }
wat = { version = "1.0.69" }
hex-literal = { workspace = true }

[features]
default = ["std"]
std = [
    "rwasm/std",
]
rwasm = []
debug-print = [
    "dep:hex",
    "rwasm/debug-print",
]
wasmtime = ["rwasm/wasmtime"]
