[package]
name = "fluentbase-runtime"
version.workspace = true
authors.workspace = true
repository.workspace = true
edition.workspace = true
readme.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
# fluentbase
fluentbase-types = { workspace = true }
rwasm = { workspace = true }

# wasmtime
wasmtime = { git = "https://github.com/fluentlabs-xyz/wasmtime", branch = "devel", optional = true, features = ["disable-fpu", "cache"] }
anyhow = { version = "1.0.98", default-features = false, optional = true }
smallvec = { version = "1.15.1", optional = true }

# misc
k256 = { version = "0.13.1", default-features = false, features = ["ecdsa"] }
p256 = { version = "0.13", default-features = false, features = ["ecdsa"] }
elliptic-curve = { version = "0.13", default-features = false }
# don't use patched tiny-keccak from workspace
tiny-keccak = { version = "2.0.2", features = ["keccak"] }
blake3 = { workspace = true, default-features = false }
sha2 = { workspace = true, default-features = false }
solana-poseidon = { workspace = true }
num = "0.4.3"
sp1-curves = "5.2.1"
fs2 = { version = "0.4.3", optional = true }
bytemuck = { workspace = true }

# global executor
core_affinity = { version = "0.8.3", optional = true }

[dev-dependencies]
sha2 = { workspace = true, default-features = false }
rand = "0.9.2"
#hex-literal = { workspace = true }

[features]
default = ["std"]
std = [
    "rwasm/std",
    "fluentbase-types/std",
]
rwasm = []
debug-print = [
    #    "rwasm/debug-print",
]
wasmtime = [
    "dep:wasmtime",
    "dep:anyhow",
    "dep:smallvec",
    "rwasm/wasmtime",
    "rwasm/cache-compiled-artifacts",
]
inter-process-lock = [
    "dep:fs2",
]
global-executor = ["dep:core_affinity"]
