[package]
name = "fluentbase-runtime"
version = "0.1.0"
authors.workspace = true
repository.workspace = true
edition.workspace = true
readme.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
rwasm = { workspace = true, default-features = false }
fluentbase-poseidon = { workspace = true, default-features = false }
#fluentbase-codec = { workspace = true }
fluentbase-zktrie = { workspace = true, default-features = false }
fluentbase-types = { workspace = true, features = ["rwasm"] }

halo2curves = { workspace = true, default-features = false }
eth_trie = { workspace = true, default-features = false }
hex-literal = { workspace = true }

# misc
keccak-hash = { version = "0.10.0" }
k256 = { version = "0.13.1", default-features = false }
hashbrown.workspace = true
#hex = "0.4.3"
#chrono = "0.4.38"

[dev-dependencies]
hex = { version = "0.4.3" }
sha2 = { version = "0.10.8" }
wat = { version = "1.0.69" }

[features]
default = ["std"]
std = [
    "rwasm/std",
]
rwasm = []
debug = []
