[package]
name = "fluentbase-sdk"
description = "Fluentbase SDK"
version = "0.1.0"
edition = "2021"

[dependencies]
fluentbase-codec = { workspace = true }
fluentbase-types = { workspace = true }
fluentbase-sdk-derive = { workspace = true }
hashbrown = { workspace = true }

[dev-dependencies]

[features]
default = ["std"]
std = [
    "fluentbase-types/std",
    "fluentbase-codec/std",
]
debug-print = []
fast-panic = []
