[package]
name = "fluentbase-sdk"
description = "Fluentbase SDK"
version.workspace = true
authors.workspace = true
repository.workspace = true
edition.workspace = true
readme.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
fluentbase-codec = { workspace = true }
fluentbase-sdk-derive = { workspace = true }
alloy-rlp = { workspace = true }
serde = { workspace = true, optional = true }
byteorder = { workspace = true, default-features = false }
rwasm = { workspace = true }
alloy-primitives = { workspace = true }
strum_macros = { workspace = true }
revm-precompile = { workspace = true }
revm-primitives = { workspace = true }
hashbrown = { workspace = true }
auto_impl = { workspace = true }
bincode = { workspace = true }
hex-literal = { workspace = true }
paste = { workspace = true }

[features]
default = ["std"]
serde = [
    "dep:serde", "alloy-primitives/serde",
]
std = [
    "rwasm/std",
    "alloy-primitives/std",
    "byteorder/std",
    "fluentbase-codec/std",
]
debug-print = []
fast-panic = []