[package]
name = "fluentbase-sdk"
description = "Fluentbase SDK"
version.workspace = true
authors.workspace = true
repository.workspace = true
edition.workspace = true
readme.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
fluentbase-codec = { workspace = true }
fluentbase-sdk-derive = { workspace = true }
fluentbase-types = { workspace = true }
fluentbase-crypto = { workspace = true }
alloy-rlp = { workspace = true }
rwasm = { workspace = true }
hashbrown = { workspace = true }
auto_impl = { workspace = true }
bincode = { workspace = true }

[dev-dependencies]
hex-literal = { workspace = true }

[features]
default = ["std"]
serde = [
    "fluentbase-types/serde",
]
std = [
    "rwasm/std",
    "fluentbase-codec/std",
    "fluentbase-types/std",
    "fluentbase-crypto/std",
    "alloy-rlp/std",
]
debug-print = []
fast-panic = []
fluent-testnet = [
	"fluentbase-crypto/fluent-testnet",
	"fluentbase-types/fluent-testnet",
	"fluentbase-sdk-derive/fluent-testnet"
]
