[package]
name = "fluentbase-contracts-svm"
version = "0.1.0"
edition = "2021"

[dependencies]
fluentbase-sdk = { workspace = true, default-features = false }
fluentbase-svm = { workspace = true, default-features = false, features = [
    "use-extended-debug-log",
    # bloats binary size 4 times
] }

[dev-dependencies]
fluentbase-sdk-testing = { workspace = true }

[lib]
crate-type = ["cdylib"]
path = "lib.rs"

[features]
default = ["std"]
std = ["fluentbase-sdk/std", "fluentbase-svm/std"]
