[package]
name = "fluentbase-codec"
version = "0.1.0"
authors.workspace = true
repository.workspace = true
edition.workspace = true
readme.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
byteorder = { workspace = true }
alloy-primitives = { workspace = true }
hashbrown = { workspace = true }
strum = { workspace = true, optional = true }
strum_macros = { workspace = true, optional = true }
serde = { workspace = true, default-features = false }
casey = { workspace = true }
paste = { workspace = true }
fluentbase-codec-derive = { workspace = true }

[dev-dependencies]
hex = "0.4.3"
hex-literal = "0.4.1"

[features]
default = ["std", "derive"]
std = [
    "byteorder/std",
    "alloy-primitives/std",
    "serde/std",
]
derive = []