[package]
name = "fluentbase-revm"
description = "Fluent variant of Revm"
version.workspace = true
authors.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
readme.workspace = true

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints.rust]
unreachable_pub = "warn"
unused_must_use = "deny"
rust_2018_idioms = "deny"

[lints.rustdoc]
all = "warn"

[dependencies]
# revm
revm = { workspace = true }

# static precompile sets.
once_cell = { workspace = true, features = ["alloc"] }

# rwasm (keep this dep here to enforce feature propagation)
rwasm = { workspace = true, default-features = false, features = ["serde"] }

tracing = { version = "0.1" }
cfg-if = { workspace = true }
alloy-primitives = { workspace = true }

# Optional
serde = { workspace = true, features = ["derive", "rc"], optional = true }

# fluentbase
fluentbase-evm = { workspace = true }
fluentbase-runtime = { workspace = true }
fluentbase-sdk = { workspace = true }
fluentbase-universal-token = { workspace = true }

[dev-dependencies]
alloy-sol-types.workspace = true
sha2.workspace = true
serde_json = { workspace = true, features = ["alloc"] }
alloy-primitives.workspace = true

[features]
default = ["std", "c-kzg", "secp256k1", "portable", "blst"]
std = [
    "serde?/std",
    "revm/std",
    "revm/serde-json",
    "alloy-sol-types/std",
    "sha2/std",
    "serde_json/std",
    "alloy-primitives/std",
    "rwasm/std",
    "fluentbase-sdk/std",
    "rwasm/std",
    "fluentbase-runtime/std",
    "fluentbase-evm/std",
]
hashbrown = ["revm/hashbrown"]
serde = [
    "dep:serde",
    "revm/serde",
    "alloy-primitives/serde"
]
portable = ["revm/portable"]

dev = [
    "memory_limit",
    "optional_balance_check",
    "optional_block_gas_limit",
    "optional_eip3607",
    "optional_no_base_fee",
]
memory_limit = ["revm/memory_limit"]
optional_balance_check = ["revm/optional_balance_check"]
optional_block_gas_limit = ["revm/optional_block_gas_limit"]
optional_eip3607 = ["revm/optional_eip3607"]
optional_no_base_fee = ["revm/optional_no_base_fee"]

# See comments in `revm-precompile`
secp256k1 = ["revm/secp256k1"]
c-kzg = ["revm/c-kzg"]
blst = ["revm/blst"]
bn = ["revm/bn"]

# fluentbase
debug-print = [
    "fluentbase-runtime/debug-print",
    #    "rwasm/debug-print",
]
wasmtime = ["fluentbase-runtime/wasmtime", "rwasm/wasmtime"]
fluent-testnet = [
    "fluentbase-runtime/fluent-testnet",
    "fluentbase-sdk/fluent-testnet",
    "fluentbase-evm/fluent-testnet"
]
