[package]
name = "fluentbase-examples-storage-sol"
version = "0.1.0"
authors.workspace = true
repository.workspace = true
edition.workspace = true
readme.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
fluentbase-sdk = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }

[dev-dependencies]
fluentbase-sdk = { workspace = true }
fluentbase-testing = { workspace = true }

[features]
default = ["std"]
std = ["fluentbase-sdk/std", "fluentbase-testing/std"]

[profile.dev]
debug = true

[profile.test]
debug = true
fluent-testnet = [
    "fluentbase-sdk/fluent-testnet",
    "fluentbase-testing/fluent-testnet"
]
