[package]
name = "fluentbase-e2e"
version = "0.1.0"
authors.workspace = true
repository.workspace = true
edition.workspace = true
readme.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
fluentbase-codec = { workspace = true }
fluentbase-genesis = { workspace = true }
fluentbase-runtime = { workspace = true }
fluentbase-sdk = { workspace = true }
fluentbase-sdk-testing = { workspace = true }
fluentbase-types = { workspace = true }
fluentbase-svm = { workspace = true }
fluentbase-svm-shared = { workspace = true }
fluentbase-erc20 = { workspace = true }
fluentbase-contracts = { workspace = true }
curve25519-dalek = { workspace = true }

rwasm = { workspace = true }
revm = { workspace = true }
rwasm-revm = { workspace = true }
op-revm = { workspace = true }
hex-literal = { workspace = true }
hex = { workspace = true }
alloy-sol-types = { workspace = true }
wat = { version = "1.223.0" }
paste = { workspace = true }
rand = { version = "0.9.1" }

[dev-dependencies]
fluentbase-svm = { workspace = true }
fluentbase-types = { workspace = true }
criterion = "0.6.0"
solana-curve25519 = { workspace = true, default-features = false, features = [] }
solana-bn254 = { workspace = true, default-features = false, features = [] }
solana-poseidon = { workspace = true, default-features = false, features = [] }
serde = { workspace = true }
serde_json = { workspace = true }
array-bytes = { workspace = true }
ark-bn254 = { workspace = true }
ark-serialize = { workspace = true }

[features]
default = [
    "std",
    "wasmtime",
    "debug-print",
    "enable-svm",
    # when enabling enable-solana-* - enable corresponding in 'contracts' crate
    #    "enable-solana-original-builtins",
]
enable-solana-original-builtins = [
    "fluentbase-svm/enable-solana-original-builtins"
]
enable-svm = [
    "fluentbase-genesis/enable-svm",
    "fluentbase-svm/use-extended-debug-log"
]
std = [
    "fluentbase-codec/std",
    "fluentbase-genesis/std",
    "fluentbase-runtime/std",
    "fluentbase-sdk/std",
    "rwasm/std",
    "revm/std",
]
debug-print = [
    "fluentbase-runtime/debug-print",
    "revm/debug-print",
    "rwasm-revm/debug-print",
    "fluentbase-svm/debug-print",
    "rwasm/debug-print",
]
wasmtime = [
    "fluentbase-runtime/wasmtime",
    "rwasm-revm/wasmtime",
]
json = [
    "fluentbase-contracts/json",
    "fluentbase-erc20/json",
    "fluentbase-sdk/json",
    "fluentbase-sdk-testing/json",
    "fluentbase-svm/json",
    "op-revm/json",
    "revm/json",
    "rwasm-revm/json",
    "fluentbase-genesis/json"
]


[[bench]]
name = "erc20"
harness = false

[[bench]]
name = "greeting"
harness = false

[[bench]]
name = "multicall"
harness = false
