[package]
name = "fluentbase-contracts-fairblock"
version = "0.1.0"
edition = "2021"

[dependencies]
fluentbase-sdk = { workspace = true }

[lib]
crate-type = ["cdylib"]
path = "lib.rs"

[features]
default = ["std"]
std = ["fluentbase-sdk/std"]
fluent-testnet = [
    "fluentbase-sdk/fluent-testnet"
]
