[package]
name = "fluentbase-contracts-evm"
version = "0.1.0"
edition = "2021"

[dependencies]
fluentbase-sdk = { workspace = true, default-features = false }
fluentbase-evm = { workspace = true, default-features = false }

[dev-dependencies]
fluentbase-sdk-testing = { workspace = true }

[lib]
crate-type = ["cdylib"]
path = "lib.rs"

[features]
default = ["std"]
std = ["fluentbase-sdk/std", "fluentbase-evm/std"]
