[package]
edition = "2021"
name = "fluentbase-examples-client-solidity"
version = "0.1.0"

[dependencies]
fluentbase-sdk = { workspace = true }

[dev-dependencies]
hex = "0.4.3"

[build-dependencies]
fluentbase-build = { workspace = true }
fluentbase-sdk = { workspace = true }

[features]
default = ["std"]
std = ["fluentbase-sdk/std"]
