[package]
name = "fluentbase-svm-shared"
version.workspace = true
authors.workspace = true
repository.workspace = true
edition.workspace = true
readme.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
bincode = { version = "1.3.3", default-features = false, features = [] }
serde = { workspace = true, features = ["derive"] }
hex = { workspace = true }


[features]
default = []
std = []
