[workspace]
members = ["*"]
exclude = [".cargo", "fairblock", "target"]
resolver = "2"

[workspace.package]
authors = [
    "Dmitry Savonin <dmitry@fluentlabs.xyz>",
]
repository = "https://github.com/fluentlabs-xyz/fuentbase"
edition = "2021"
license = "MIT"
keywords = ["wasm", "webassembly", "interpreter", "vm"]
categories = ["wasm", "no-std", "virtualization"]
readme = "README.md"

[workspace.dependencies]
fluentbase-sdk = { path = "../crates/sdk", default-features = false }
revm-precompile = { git = "https://github.com/fluentlabs-xyz/revm-rwasm.git", branch = "v82-patched", default-features = false }
#revm-precompile = { path = "../../revm-rwasm/crates/precompile", default-features = false }
fluentbase-erc20 = { path = "../crates/erc20", default-features = false }
fluentbase-evm = { path = "../crates/evm", default-features = false }
fluentbase-svm = { path = "../crates/svm", default-features = false }
solana-program-error = { git = "https://github.com/fluentlabs-xyz/agave", branch = "feat/svm", default-features = false }
solana-bincode = { git = "https://github.com/fluentlabs-xyz/agave", branch = "feat/svm", default-features = false }
fluentbase-testing = { path = "../crates/testing" }
hex = { version = "0.4.3", default-features = false, features = ["alloc"] }
sha2 = { version = "0.10.9", default-features = false }

[profile.release]
panic = "abort"
lto = "fat"
opt-level = 3
strip = true
debug = false
debug-assertions = false
rpath = false
codegen-units = 1
overflow-checks = false

[profile.dev]
# Optimize WASM for size in debug to avoid massive binaries that slow compilation
opt-level = "z"
debug = false
strip = "symbols"

