[package]
name = "fluentbase-types"
description = "Fluentbase SDK"
version.workspace = true
authors.workspace = true
repository.workspace = true
edition.workspace = true
readme.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
serde = { workspace = true, optional = true }
byteorder = { workspace = true, default-features = false }
rwasm = { workspace = true }
alloy-primitives = { workspace = true }
strum_macros = { workspace = true }
revm-primitives = { workspace = true }
revm-precompile = { workspace = true }
hashbrown = { workspace = true }
bincode = { workspace = true }
paste = { workspace = true }

[features]
default = ["std"]
serde = [
    "dep:serde", "alloy-primitives/serde",
]
std = [
    "rwasm/std",
    "alloy-primitives/std",
    "byteorder/std",
    "revm-precompile/std"
]
debug-print = []
fast-panic = []
fluent-testnet = []
svm = [
    "revm-primitives/svm",
]

