[package]
name = "fluentbase-types"
version = "0.1.0"
authors.workspace = true
repository.workspace = true
edition.workspace = true
readme.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
# optional
serde = { version = "1.0", default-features = false, features = [
    "derive",
    "rc",
], optional = true }
byteorder = { workspace = true, default-features = false }
rwasm = { workspace = true, default-features = false, optional = true }
alloy-primitives = { workspace = true }
alloy-rlp = { workspace = true }
strum_macros = { workspace = true }
revm-primitives = { workspace = true, default-features = false }
hashbrown = { workspace = true }
fluentbase-codec = { workspace = true, default-features = false }

[features]
default = ["std", "rwasm"]
serde = ["dep:serde"]
std = [
    "rwasm?/std",
    "alloy-primitives/std",
    "byteorder/std",
]
rwasm = [
    "dep:rwasm",
]
e2e = []
