[package]
name = "fluentbase-contracts-kzg"
version = "0.1.0"
edition = "2021"

[dependencies]
fluentbase-sdk = { workspace = true }
precompile = { workspace = true, features = ["kzg-rs"] }

[dev-dependencies]
fluentbase-sdk-testing = { workspace = true }

[build-dependencies]
fluentbase-build = { workspace = true }
fluentbase-sdk = { workspace = true }
precompile = { workspace = true, features = ["kzg-rs"] }

[features]
default = ["std"]
std = ["fluentbase-sdk/std", "precompile/std"]
