[package]
name = "fluentbase-genesis"
version.workspace = true
authors.workspace = true
repository.workspace = true
edition.workspace = true
readme.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
fluentbase-types = { workspace = true }
serde = { workspace = true, default-features = false }
serde_json = { version = "1.0", default-features = false }
alloy-genesis = { workspace = true, default-features = false }
lazy_static = { workspace = true }

[build-dependencies]
fluentbase-types = { workspace = true }
alloy-genesis = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
fluentbase-contracts = { workspace = true }

[features]
default = [
    "std",
    "enable-svm"
]
debug-print = []
enable-svm = []
wasmtime = []
std = [
    "fluentbase-types/std",
    "alloy-genesis/std",
    "serde/std",
    "serde_json/std",
]
generate-genesis = [] # this feature is doing nothing now (genesis is always generated), kept it for backward compatibility, and will remove it once ready
json = [
	"fluentbase-contracts/json"
]
