[package]
name = "fluentbase-contracts-evm"
version = "0.1.0"
edition = "2021"

[dependencies]
fluentbase-sdk = { workspace = true, default-features = false, features = [] }
fluentbase-evm = { workspace = true, default-features = false, features = [] }
spin = { workspace = true }

[dev-dependencies]
fluentbase-testing = { workspace = true }

[lib]
crate-type = ["cdylib"]
path = "lib.rs"

[features]
default = ["std"]
std = ["fluentbase-sdk/std", "fluentbase-evm/std", "fluentbase-testing/std"]
fluent-testnet = [
    "fluentbase-sdk/fluent-testnet",
    "fluentbase-testing/fluent-testnet"
]
