[package]
name = "fluentbase-contracts-evm"
version = "0.1.0"
edition = "2021"

[dependencies]
fluentbase-sdk = { workspace = true, default-features = false, features = ["debug-print"] }
fluentbase-evm = { workspace = true, default-features = false, features = [] }
revm-interpreter = { workspace = true, default-features = false, features = [] }
revm-helpers = { workspace = true, default-features = false, features = [] }
spin = { version = "0.10.0", default-features = false, features = ["mutex"] }
hashbrown = { workspace = true }
lazy_static = { version = "1.5.0", default-features = false, features = ["spin_no_std"] }

[dev-dependencies]
fluentbase-testing = { workspace = true }

[lib]
crate-type = ["cdylib"]
path = "lib.rs"

[features]
default = ["std"]
std = ["fluentbase-sdk/std", "fluentbase-evm/std"]
