[package]
name = "fluentbase-contracts-evm"
version = "0.1.0"
edition = "2021"

[dependencies]
fluentbase-sdk = { workspace = true, default-features = false, features = ["debug-print"] }
fluentbase-evm = { workspace = true, default-features = false }
fluentbase-types = { workspace = true, default-features = false }
revm-interpreter = { workspace = true, default-features = false }
spin = { version = "0.10.0", default-features = false, features = ["mutex", ] }

[dev-dependencies]
fluentbase-testing = { workspace = true }

[lib]
crate-type = ["cdylib"]
path = "lib.rs"

[features]
default = ["std"]
std = ["fluentbase-sdk/std", "fluentbase-evm/std"]
