[package]
name = "fluentbase-examples-erc20"
version = "0.1.0"
edition = "2021"

[dependencies]
fluentbase-sdk = { workspace = true }
alloy-sol-types = { workspace = true }
hex-literal = { version = "0.4.1", default-features = false }

[dev-dependencies]
fluentbase-testing = { workspace = true }
serial_test = "3.0.0"

[lib]
crate-type = ["cdylib"]
path = "lib.rs"

[features]
default = ["std"]
std = ["fluentbase-sdk/std", "fluentbase-testing/std"]
fluent-testnet = [
    "fluentbase-sdk/fluent-testnet",
    "fluentbase-testing/fluent-testnet"
]
