[package]
name = "fluentbase-example-erc20"
version = "0.1.0"
edition = "2021"

[dependencies]
#fluentbase-sdk = { git = "https://github.com/fluentlabs-xyz/fluentbase", branch = "devel", default-features = false }
fluentbase-sdk = { workspace = true, default-features = false }
fluentbase-types = { workspace = true, default-features = false }

# for Solidity ABI
alloy-sol-types = { workspace = true }

# for hex macro
hex-literal = { version = "0.4.1", default-features = false }

paste = { workspace = true }
lazy_static = "1.5.0"

codec2 = {path = "../../../codec2", features = ["derive"], default-features = false}

[dev-dependencies]
hex = "0.4.3"
serial_test = "3.0.0"

[lib]
crate-type = ["cdylib", "staticlib"]
path = "lib.rs"

#[profile.release]
#lto = true
#opt-level = 'z'
#panic = "abort"
#strip = true

[features]
default = ["std"]
std = [
    "fluentbase-sdk/std"
]
