[package]
name = "fluentbase-testing"
version.workspace = true
authors.workspace = true
repository.workspace = true
edition.workspace = true
readme.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
fluentbase-codec = { workspace = true }
fluentbase-runtime = { workspace = true, features = ["std"] }
fluentbase-sdk = { workspace = true }

hashbrown = { workspace = true }
revm = { workspace = true }
fluentbase-revm = { workspace = true }
rwasm = { workspace = true }
hex = { workspace = true }
bytes = "1.10.1"

[features]
default = ["std"]
std = [
    "fluentbase-codec/std",
    "fluentbase-runtime/std",
    "fluentbase-sdk/std",
    "rwasm/std",
    "revm/std",
    "fluentbase-revm/std",
]
debug-print = [
    "fluentbase-sdk/debug-print",
    "fluentbase-runtime/debug-print",
    "revm/debug-print",
    #    "fluentbase-revm/debug-print",
]
