[package]
authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
name = "fluentbase-sdk-derive"
readme.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
crypto-hashes = { version = "0.10.0", default-features = false, features = ["include_weak"] }
proc-macro2 = "1.0"
proc-macro-error = { version = "1", default-features = false }
quote = "1.0"
fluentbase-sdk-derive-core = { path = "./derive-core", default-features = false }
syn = { workspace = true, features = ["full", "visit"] }
alloy-sol-macro-input = { version = "1.1.0", default-features = false, features = ["json"] }

[dev-dependencies]
trybuild = "1.0.104"
fluentbase-sdk = { workspace = true }

[lib]
proc-macro = true

[features]
default = []
fluent-testnet = [
	"fluentbase-sdk/fluent-testnet"
]
