name: Test

on:
  push:
    branches: [ main, devel ]
    paths-ignore:
      - "**.md"
      - "docs/**"
  pull_request:
    branches: [ main, devel ]
    paths-ignore:
      - "**.md"
      - "docs/**"
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: '30720'
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: wasm32-unknown-unknown
      - name: Setup cache
        uses: Swatinem/rust-cache@v2
      - name: Install wasm32 target
        run: rustup target add wasm32-unknown-unknown
      - name: Run tests
        run: cargo test --no-fail-fast

  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch'
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: '30720'
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: wasm32-unknown-unknown
      - name: Setup cache
        uses: Swatinem/rust-cache@v2
      - name: Install wasm32 target
        run: rustup target add wasm32-unknown-unknown
      - name: Run cargo check
        run: cargo check
      - name: Generate code coverage
        run: |
          cargo install cargo-tarpaulin
          cargo tarpaulin --verbose --timeout 120 --out xml
      - name: Upload to codecov.io
        uses: codecov/codecov-action@v5.4.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
      - name: Archive code coverage results
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report
          path: cobertura.xml

  rust-fmt-lint:
    name: Lint
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch'
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt, clippy
          targets: wasm32-unknown-unknown
      - name: Check formatting
        run: cargo fmt --all -- --check
        continue-on-error: true
      - name: Run clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
        continue-on-error: true

  evm-e2e-tests:
    name: EVM Testing Suite
    runs-on: ubuntu-latest
    timeout-minutes: 40
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: '30720'
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: wasm32-unknown-unknown
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"
      - name: Setup cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: "revm/e2e -> target"
      - name: Install wasm32 target
        run: rustup target add wasm32-unknown-unknown
      - name: Sync ethereum tests
        working-directory: revm/e2e
        run: make sync_tests
      - name: Run ethereum tests
        working-directory: revm/e2e
        run: make run_general_state_tests